body{
/* text-align: center; */
background: hsl(257, 40%, 49%) url("./images/bg-desktop.svg") no-repeat center

}

*{
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " "; 
  display: table; 
}

.clearfix:after {
  clear: both;
}
 

/* .outer__container{
    background-image: url('./img/bg-mobile.svg');
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.inner__container{
    width: 90%;
    max-width: 70em;
    margin: 0 auto;

}
.header{
    text-align:center ;
   
}

.nav-list{
    margin: 0;
    padding:  2em ;
}

.nav-item{
    list-style-type: none;
    display: inline-block;
}
.nav-link{
    padding: 1em;
    text-decoration: none;
    color: #fff;
}
.nav-link:hover {
    color: grey;
  }
  
  .logo_image{
    width: 30%;
    margin-right: 20px;
    float: left;
}

  @media (min-width: 1024px){
  .div__img__header{
      float: left;
      width: 50%;
  }
  .main__float{
    float: right;
    width: 50%;
  }
  .submit__btn{
      float: left;

  }
}


.img{
    margin-top: 2em;
    width: 40em;
    
}

.main{
    color: #fff;
    text-align:center ;
    margin: 5em;
 }

.title{
    font-size: 2.5em;
    margin: 1em 3em;
}

.text{
    margin: 2em 4em;
    line-height: 2em;
    font-size: 1.5em;
}

.submit__btn{
    padding:1em 8em;
    color:blueviolet ;
    background-color: #fff;
    border: none;
    border-radius: 3em;
    
}
.footer{
    text-align: center;
}
.social{
    /* display: inline-block; */
    /* color: lavenderblush; */
    /* background-color: chartreuse; */
    /* padding-bottom:  3em; */
    display: block;
    position: absolute;
    top: 90em;
    left: 85vw;
   
}

.social__item{
  
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
  margin: 0 0.5rem;
  color: #fff;
  border: 0.1rem solid #fff;
  padding: 1rem;
  border-radius: 100%;

}

